// Utilities
$u: 8;

@for $i from 0 through 20 {

  // margins
  .u-mt#{$i} { margin-top: #{$i * $u}px !important; }
  .u-mr#{$i} { margin-right: #{$i * $u}px !important; }
  .u-mb#{$i} { margin-bottom: #{$i * $u}px !important; }
  .u-ml#{$i} { margin-left: #{$i * $u}px !important; }
  .u-mv#{$i} { margin-top: #{$i * $u}px !important; margin-bottom: #{$i * $u}px !important; }
  .u-mh#{$i} { margin-left: #{$i * $u}px !important; margin-right: #{$i * $u}px !important; }
  .u-ma#{$i} { margin: #{$i * $u}px !important; }

  // paddings
  .u-pt#{$i} { padding-top: #{$i * $u}px !important; }
  .u-pr#{$i} { padding-right: #{$i * $u}px !important; }
  .u-pb#{$i} { padding-bottom: #{$i * $u}px !important; }
  .u-pl#{$i} { padding-left: #{$i * $u}px !important; }
  .u-pv#{$i} { padding-top: #{$i * $u}px !important; padding-bottom: #{$i * $u}px !important;}
  .u-ph#{$i} { padding-left: #{$i * $u}px !important; padding-right: #{$i * $u}px !important;}
  .u-pa#{$i} { padding: #{$i * $u}px !important; }

  // line-heights
  .u-lineheight#{$i} { line-height: #{$i * $u}px !important; }
}

.u-maxwidth20 {
  max-width: 20px * $u !important;
}
.u-width6 {
  width: 6px * $u !important;
}
.u-widthfull {
  width: 100%;
}

.u-relative {
  position: relative !important;
}
.u-absolute {
  position: absolute !important;
}

.u-block {
  display: block !important;
}
.u-inlineblock {
  display: inline-block !important;
}
.u-floatleft {
  display: inline-block !important;
  float: left !important;
}
.u-floatright {
  display: inline-block !important;
  float: right !important;
}

.u-flex {
  display: flex;
}
.u-flex-grow1 {
  flex-grow: 1;
}

.u-alignleft {
  text-align: left !important;
}
.u-aligncenter {
  text-align: center !important;
}
.u-alignright {
  text-align: right !important;
}

.u-text-125x {
  font-size: 1.5rem !important;
}
.u-text-15x {
  font-size: 1.5rem !important;
}

.u-clearfix {
  @include clearfix();
}

.u-opacity30 {
  opacity: 0.3 !important;
}
.u-opacity50 {
  opacity: 0.5 !important;
}
.u-opacity70 {
  opacity: 0.7 !important;
}

.u-z0 { z-index: 0 !important; }
.u-z1 { z-index: 1 !important; }
.u-z2 { z-index: 2 !important; }
.u-z3 { z-index: 3 !important; }
.u-z4 { z-index: 4 !important; }
.u-z5 { z-index: 5 !important; }
.u-z6 { z-index: 6 !important; }
.u-z7 { z-index: 7 !important; }
.u-z8 { z-index: 8 !important; }
.u-z9 { z-index: 9 !important; }
